body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/Snapshots/To-The-Left.jpg');
    background-repeat: no-repeat;
    background-size: cover;
      font-weight: 100;
}
h1 {
    font-size: 10em;
    font-family: roboto;
    margin: auto;
    color: rgba(255,255,255,0.7);
    position: relative;
    bottom: -100px;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
    display: block;
    margin-top: 25%;
    transform: scale(1);
    transition: transform 2s;
    font-weight: 100;
}

h2{
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.6);
    width: 670px;
    margin: auto;
    /* position: relative; */
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 5px;
    font-size: 2em;
    font-family: roboto;
    font-weight: 100;    
}
#space-name{
  font-size: 1.5em
}

#nav-button{
  color: inherit;
  padding: 10px
}
#nav-button:hover{
  color: rgba(255,255,255,0.8);
}
.nav-container{
    position: absolute;
    top: 0;
    width: 100%;
}
buttons {
    position: absolute;
    right: 0;
    width: 370px;
}
.navbar {
    position: relative;
    top: 0;
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.5);
    width: 100%;
    padding: 20px;
    font-size: 1.5em;
    font-family: roboto;
    transition: background 1s, color 1s;
    text-decoration: none;
}
a{
  text-decoration: none;
}
h1:hover {
    transform: scale(1.1);
    transition: transform 2s;
}
div#colour-block {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#title-block{
    margin: auto;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
}
.flex-banner {
    display: inline-flex;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}
.nice-picture {
    {
    /* display: inline-flex; */
    width: 100%;
    /* height: 600px; */
    overflow: hidden;
    position: relative;
    /* margin-top: 10px; */
}
}



.flex-spaces {
    display: inline-flex;
    width: 100%;
    height: 300px;
    background-color: lightseagreen;
}
div#space {
    padding: 10px;
    border: solid;
    margin: 10px;
    display: block;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 0px 0 20px;
    transition: transform 0.5s;
    transform: translateX(0px);
}

div#space:hover {
    box-shadow: 2px 2px 10px;
    transform: translateX(-50px);
    transition: transform 0.5s;
}
.spaces{
    margin: auto;
    width: 700px;
    height: 80%;
    /* position: relative; */
    margin-top: 100px;
    border: solid;
    border-color: transparent;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    overflow: scroll;
    color: rgba(255,255,255,0.5);
    font-family: roboto;
}
div#space-listing {
    font-family: roboto;
    width: 303px;
    display: inline-block;
    padding: 12px;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.5);
    transform: scale(1);
    box-shadow: none;
    transition: transform 0.5s, box-shadow 0.5s;

}
div#space-listing:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px black;
  transition: transform 0.5s, box-shadow 0.5s;
}
form{
    display: table-caption;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 150px;
    width: 350px;
}
input[type="submit"] {
    margin-top: 20px;
}
form label input{
    background-color: rgba(0,0,0,0.5);
    border: solid;
    color: rgba(255,255,255,0.5);
}
form label input:focus{
  outline-color: white;
}
form input[type="submit"]{
    border: solid;
    border-color: transparent;
    color: rgba(255,255,255,0.5);
    background-color: transparent;
}
form input[type="submit"]:hover{
    color: rgba(255,255,255,0.7);
}
form input[type="submit"]:focus{
    outline-color: none;
}
