extends ../layout

block content
  
  
  div(class='spaces')
    each val in spaces
        div(id='space-name')= val.name
        div(id='space-description')= val.description
        div(id='space-price')= val.price
