extends ../layout

block content
  div(class='spaces')
    h2= space.name  
    div(id='s-description')= space.sDescription
    div(id='l-description')= space.lDescription

    div(id='space-price')= space.price
