extends ../layout

block content
  div(class='spaces')
    h2='User Registration'
    form(method='post' action='/users')
      label='Email:'
        input(type='email' name='email')        
      label='Password:'
        input(type='password', name='password')
      label='Password Confirmation'      
        input(type='password', name='password-confirmation')
      input(type='submit' value='sign-up')
